<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>维京电梯</title>
</head>

<body>
    <div id="root">
        <div class="Header">
            <div class="pc-header">
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/logo.jpg">
                    </div>
                    <div class="navBar row">
                        <div class="col-lg">
                            <a href="/index.html" class="item active">首页</a>
                        </div>
                        <div class="col-lg ch">
                            <a href="/about/about_us.html" class="item">关于维京</a>
                            <div class="child">
                                <a href="/about/about_us.html" class="child-item">公司简介</a>
                                <a href="/about/vk_honor.html" class="child-item">资质荣誉</a>
                                <a href="/about/vk_culture.html" class="child-item">企业文化</a>
                                <a href="/about/vk_strength.html" class="child-item">企业实力</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg ch">
                            <a href="/service.html" class="item">业务领域</a>
                            <div class="child">
                                <a href="/lift/index.html" class="child-item">整梯系列</a>
                                <a href="/fittings/index.html" class="child-item">配件中心</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg ch">
                            <a href="/case/index.html" class="item">项目案例</a>
                            <div class="child">
                                <a href="/case/index.html" class="child-item">写字楼</a>
                                <a href="/case/index.html" class="child-item">商务酒店</a>
                                <a href="/case/index.html" class="child-item">商场Mall</a>
                                <a href="/case/index.html" class="child-item">高档住宅</a>
                                <a href="/case/index.html" class="child-item">知名企业</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg ch">
                            <a href="/news/index.html" class="item">新闻中心</a>
                            <div class="child">
                                <a href="/news/index.html" class="child-item">行业新闻</a>
                                <a href="/news/index.html" class="child-item">行业动态</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg">
                            <a href="/job.html" class="item">人才招聘</a>
                        </div>
                        <div class="col-lg">
                            <a href="/contact.html" class="item">联系我们</a>
                        </div>
                        <div class="col-lg item last">
                            <img src='/static/images/gq.png'>
                            <span>简体中文</span>
                        </div>
                    </div>
                    <div id="menu_toggle" class="menuBtn">
                        <button></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="Banner">
            <div class="content clearfix">
                <div class="img active">
                    <img src='/static/images//banner/banner1.jpg' />
                    <div class="ani animated">
                       <div class="wz">
                            <h2>
                                维京，您的电梯专家
                            </h2>
                            <p>
                                Viking elevator (tianjin) Co.,Ltd,Your elevator specialist
                            </p>
                       </div>
                    </div>
                </div>
                <div class="img">
                    <img src='/static/images//banner/banner2.jpg' />
                    <div class="ani animated">
                        <div class="wz">
                            <h2>
                                经济技术实力兼备的综合性企业
                            </h2>
                            <p>
                                Viking elevator (tianjin) Co.,Ltd,Your elevator specialist
                            </p>
                        </div>
                    </div>
                </div>
                <div class="img">
                    <img src='/static/images//banner/banner3.jpg' />
                    <div class="ani animated">
                        <div class="wz">
                            <h2>
                                以人为本，诚实经营
                            </h2>
                            <p>
                                Viking elevator (tianjin) Co.,Ltd,Your elevator specialist
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="About">
            <div class="container">
                <div class="row">
                    <div class="col-lg left ani animated">
                        <div class="tit">
                            ABOUT
                        </div>
                        <div class="cpy">
                            维京电梯（天津）有限公司
                        </div>
                        <p>
                            维京电梯（天津）有限公司成立于2018年，注册资金 1 亿元，电梯维修A级行政许可，
                            电梯安装B级行政许可。公司现有工程高级技术人员12人，专业技术员工40余人，其
                            他专业技术人员8人。维京电梯凭借过硬的技术实力和良好信誉得到了众多客户的认
                            可和赞誉，公司团队日常维保电梯1000余台。</p>
                        <p>
                            维京电梯致力于为各行业提供优质的电梯销售、安装及售后保障方案。自成立之日便
                            实行规范化 、程序化 、制度化的管理，悉心体察市场及用户的需求，秉承“以人为
                            本，诚实经营”的服务理念，承诺做到为用户着想，对用户负责，让用户满意！
                        </p>
                    </div>
                    <div class="col-lg ani1 animated">
                        <img src="/static/images/vbg.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="Strength">
            <div class="container">
                <div class="tit">
                    VIKING ENTERPRISE STRENGTH
                </div>
                <div class="e-tit">
                    企业实力
                </div>
                <div class="btns">
                    <a href="#" class="vj_btn">
                        了解维京 →
                    </a>
                </div>
                <div class="ys-data row">
                    <div class="item col-md ani animated">
                        <div class="d1">1000,000,00</div>
                        <div class="d2">注册资金总额1亿元</div>
                    </div>
                    <div class="item col-md ani animated">
                        <div class="d1">A级许可</div>
                        <div class="d2">国家级专业资质</div>
                    </div>
                    <div class="item col-md ani animated">
                        <div class="d1">1000+</div>
                        <div class="d2">维保电梯设备</div>
                    </div>
                    <div class="item col-md ani animated">
                        <div class="d1">OTIS</div>
                        <div class="d2">授权经销商</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Sevices">
            <div class="container">
                <div class="row items animated ani">
                    <div class="item col-md">
                        <div class="ft img">
                            <img src="/static/images/sale.png" class="aniImg" />
                        </div>
                        <div class="ft">
                            <div class="tit">电梯销售</div>
                            <p class="des">
                                乘客电梯，载货电梯，住宅电梯，观光电梯，别墅电梯，医用电梯，液压电梯，杂物电梯等，品牌种类齐全，价格优惠
                            </p>
                        </div>
                    </div>
                    <div class="item col-md">
                        <div class="ft img">
                            <img src="/static/images/install.png" class="aniImg" />
                        </div>
                        <div class="ft">
                            <div class="tit">电梯安装</div>
                            <p class="des">
                                专业技术团队护航，采用先进安装质量管理流程，实行开箱检验、安装检验和最终检验三道质量控制
                            </p>
                        </div>

                    </div>
                    <div class="item col-md">
                        <div class="ft img">
                            <img src="/static/images/set.png" class="aniImg" />
                        </div>
                        <div class="ft">
                            <div class="tit">电梯维保</div>
                            <p class="des">
                                7x24小时报修热线，故障解析，完善的检测，优质的服务，定期检查，以备万一发生异常情况时可以迅速采取应对措施
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Case">
            <div class="container">
                <div class="tit">
                    SUCCESSFUL PROJECT CASE
                </div>
                <div class="e-tit">
                    服务案例
                </div>
                <div class="btns">
                    <a href="#" class="vj_btn">
                        了解更多 →
                    </a>
                </div>
                <div class="ys-data row">
                    <div class="item col-sm animated ani">
                        <img src="/static/images/al1.jpg" />
                    </div>
                    <div class="item col-sm animated ani">
                        <img src="/static/images/al2.jpg" />
                    </div>
                    <div class="item col-sm animated ani">
                        <img src="/static/images/al3.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="News_Contact">
            <div class="container clearfix">
                <div class="ft news clearfix">
                    <div class="tit">LAST NEWS</div>
                    <div class="cpy">近期新闻</div>
                    <div class="news_items">
                        <div class="news_item clearfix">
                            <div class="ft imgbg" style="background-image: url(/static/images/new.jpg);">
                                <img src="" />
                                <div class="date">
                                    <p class="day">26</p>
                                    <p class="month">1月</p>
                                </div>
                            </div>
                            <div class="ft news_content">
                                <h5>维京电梯最新咨询</h5>
                                <p>
                                    社会的发展，高楼大厦逐渐增多，电梯成了必不可少的工具。尤其是
                                </p>
                                <a href="#" class="more">阅读更多 →</a>
                            </div>
                        </div>
                        <div class="news_item clearfix">
                            <div class="ft imgbg" style="background-image: url(/static/images/new.jpg);">
                                <img src="" />
                                <div class="date">
                                    <p class="day">26</p>
                                    <p class="month">1月</p>
                                </div>
                            </div>
                            <div class="ft news_content">
                                <h5>维京电梯最新咨询</h5>
                                <p>
                                    社会的发展，高楼大厦逐渐增多，电梯成了必不可少的工具。尤其是
                                </p>
                                <a href="#" class="more">阅读更多 →</a>
                            </div>
                        </div>
                        <div class="news_item clearfix">
                            <div class="ft imgbg" style="background-image: url(/static/images/new.jpg);">
                                <img src="" />
                                <div class="date">
                                    <p class="day">26</p>
                                    <p class="month">1月</p>
                                </div>
                            </div>
                            <div class="ft news_content">
                                <h5>维京电梯最新咨询</h5>
                                <p>
                                    社会的发展，高楼大厦逐渐增多，电梯成了必不可少的工具。尤其是
                                </p>
                                <a href="#" class="more">阅读更多 →</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="new_sq">
                            <!-- <div class="sq active"></div>
                            <div class="sq"></div>
                            <div class="sq"></div> -->
                        </div>
                        <a href="#" class="vj-bt">所有新闻 →</a>
                    </div>
                </div>
                <div class="ft contact">
                    <div class="tit">CONTACT</div>
                    <div class="cpy">联系我们</div>
                    <form action="" class="postData">
                        <div class="row">
                            <div class="col-lg-6">
                                <input class="input" placeholder="需求类型" type="text" />
                                <input class="input" placeholder="所在省份" type="text" />
                                <input class="input" placeholder="所在城市" type="text" />
                                <input class="input" placeholder="电话" type="text" />
                            </div>
                            <div class="col-lg-6">
                                <input class="input" placeholder="姓名" type="text" />
                                <input class="input" placeholder="邮箱" type="text" />
                                <textarea class="textarea" placeholder="信息"></textarea>
                            </div>
                        </div>
                        <div class="footer">
                            <input type="submit" value="提交  →" class="vj-bt">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="Footer">

        </div>
    </div>

</body>

</html>