@import '../common/common.scss';
@import '../common/header.scss';
@import '../common/footer.scss';

$blue:#0e9ef9;
$white:#fff;
$f54:40/16+rem;
$f38:38/16+rem;
$f28:28/16+rem;
$f12:12/16+rem;
$f14:14/16+rem;

.eg-tit{
    color:$blue;
    font-size:$f38;
    font-weight: bold;
    @media  (max-width: 768px){
        font-size:$f28;
    }
}

.en-tit{
    color:$white;
    font-size: $f54;
    @media  (max-width: 768px){
        font-size:$f38;
    }
}

.cpy{
    font-size: $f28;
    padding: 0 0 $f54 0;
    @media  (max-width: 768px){
        font-size:18/16+rem;
        padding: 0 0 $f14 0;
    }
}

.Banner{
    img{
        width: 100%;
    }
    .content{
        position: relative;
        height: 559px;
        overflow: hidden;
        .img{
            position: absolute;
            top:0;
            left:0;
            transition: opacity 1s;
            opacity: 0;
            .ani{
                width: 100%;
                position: absolute;
                top:0;
                left:0;
                text-align: center;
                @include prefix(transform,translateX(2000px));
            }
            .wz{
                // position: absolute;
                // top:50%;
                // left:50%;
                display: inline-block;
                padding:40px;
                color:#fff;
                text-align: center;
                background-color: rgba($color: #000000, $alpha: 0.5);
                
                h2{
                    font-size:50/16+rem ;
                    //font-family: "Raleway", sans-serif;
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-shadow: 2px 1px 3px #000000;
                    letter-spacing:10px
                }
                p{
                    font-size:18/16+rem;
                    letter-spacing:3px
                }

                @media (max-width: 768px){
                    h2{
                        font-size: 18/16+rem;
                    }
                    p{
                        font-size: 12/16+rem;
                    }
                }
            }
        }
        .img.active{
            opacity: 1;
        }
    }
}

.About{

    padding: 150/16+em 0;
    .tit{
        @extend .eg-tit;
        line-height: 2;
    }
    .cpy{
        @extend .cpy
    }
    p{
        font-size: $f14;
        line-height: 1.8;
    }
    img{
        width: 100%;
    }
    .ani{
        @include prefix(transform,translate3d(-100%,0,0));
        opacity: 0;
    }
    .ani1{
        @include prefix(transform,translate3d(100%,0,0));
        opacity: 0;
    }
    @media (max-width: 768px){
        padding: 40/16+em 0;

    }
    @media (max-width: 414px){
        padding: 28/16+em 0;
    }
}

.Strength{
    background: url(../../images/bg2.jpg) center center no-repeat;
    background-size: 100%;
    padding: 120/16+rem 0;
    
    .tit{
        @extend .eg-tit;
    }
    .e-tit{
        @extend .en-tit;
        margin-bottom:20/16+rem
    }
    .vj_btn{
        @include a-btn(5px 20px,#fff,$blue,$blue,0);
        margin-bottom: 40/16+rem;
    }

    .ys-data .item{
        text-align: center;
        .d1{
            color:$blue;
            font-size:$f38;
        }
        .d2{
            color:$white;
            font-size: $f14;
        }
    }
    .ani{
        opacity: 0;
    }
    @media  (max-width: 768px){
        padding: 0 0 $f14 0;
        background: url(../../images/bg2.jpg) center center;
        background-size: auto;
    }
}

.Sevices{
    background-color: $white;
    padding: 120/16+rem 0;
    .items{
        padding: 20/16+rem 0;
    }
    .items .item{
        
        .ft{
            float: left;
            width: 75%;
            padding-left: 5px;
            
        }
        .ft.img {
            width: 25%;
        }
        .tit{
            font-size: 14/12+rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .des{
            font-size: $f14;
        }
    }
    .ani{
        @include prefix(transform,translateX(150%));
    }
    .item:hover .aniImg{
        @include prefix(animation,roteAni linear 2s infinite);
    }

    @media  (max-width: 768px){
        padding: 24/16+rem 0;
        .items .item{
            margin-bottom: 15px;
            .ft.img {
                width: 14%;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.Case{
    @extend .Strength;
    background-image: none;
    background-color: #274e6f;
    img{
        width: 100%;
    }
    .ani{
        @include prefix(transform,scale3d(0, 0, 0))
    }
}

.News_Contact{
    background-color: $white;
    padding: 80/16+rem 0;
    .tit{
        @extend .eg-tit;
    }
    .cpy{
        @extend .cpy;
        font-size:36/16+rem
    }
    .ft{
        width: 50%;
        float: left;
        padding: 30px 20px;
        @media  (max-width: 768px){
            width: 100%;
        }
    }
    .footer{
        height: 85px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .vj-bt{
        @include a-btn(5px 80px,#fff,unset,$blue,5rem);
        position: absolute;
        right: 30px;
        top:30px;
        font-size: $f12;
    }
    .news{
        height: 615px;
        position: relative;
        @media  (max-width: 768px){
            height: 720px;
        }
        .vj-bt{
            color:#333;
            padding: 5px 20px;
        }
        .footer{
            background-color: #f7f7f7;
            .new_sq{
                position: absolute;
                left: 50px;
                top:10px;
                vertical-align: middle;
                .sq{
                    display: inline-block;
                    margin-right: 10px;
                    border-width: 2px;
                    border-color: #ccc;
                    border-style: solid;
                    border-radius: 50%;
                }

                .sq.active{
                    border-width: 1px;
                    height: 8px;
                    width: 8px;
                    border-color: $blue;
                }
            }
            
        }

        .news_items{
            position: relative;
            //overflow: hidden;
            .news_item{
                position: absolute;
                width: 100%;
                top:0;
                left:0;
                opacity: 0;
                height: 0;
                transition: opacity 1s;
                .news_content{
                    padding: 15px 0 15px 15px ;
                    h5{
                        margin-bottom: 1rem;
                    }
                    p{
                        line-height: 1.5;
                        font-size: $f14;
                        margin-bottom: 1rem;
                    }
                    .more{
                        font-size: $f14;
                        color:$blue
                    }
                    .more:hover{
                        color:red;
                    }
                }
                
                .imgbg{
                    position: relative;
                    background-color: #f7f7f7;
                    background-repeat: no-repeat;
                    background-position: center center;
                    height: 343px;
                    padding: 0 0;
                    .date{
                        position: absolute;
                        top:0;
                        right: 0;
                        width: 60px;
                        height: 60px;
                        background-color: $blue;
                        color:$white;
                        text-align: center;
                        .month{
                            font-size: $f14;
                            line-height: 0;
                        }
                        .day{
                            font-size: $f28;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .news_item.active{
                opacity: 1;
                z-index:99;
            }
        }
    }
    
    .contact {
        height: 615px;
        @media  (max-width: 768px){
            width: 100%;
            height: 665px;
        }
        position: relative;
        .cpy {
            color:$white
        }
        background-color: #274e6f;
        .input,.textarea{
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            border-width: 0;
            font-size: $f14;
            padding:$f12 $f14;
        }
        .textarea{
            height: 100px;
        }
        .vj-bt{
            @media  (max-width: 768px){
                right: 50%;
                margin-right: -105px;
            }
        }
    }
    @media  (max-width: 768px){
        padding: 0;
    }
}

@keyframes roteAni
{
    from{
        @include prefix(transform,rotate(0deg))
    }
    to{
        @include prefix(transform,rotate(360deg))
    }
}

@-webkit-keyframes roteAni{
    from{
        @include prefix(transform,rotate(0deg))
    }
    to{
        @include prefix(transform,rotate(360deg))
    }
}

