<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于维京——公司简介</title>
</head>
<body>
    <div id="root">
        <div class="Header">
            <div class="pc-header">
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/logo.jpg">
                    </div>
                    <div class="navBar row">
                        <div class="col-sm">
                            <a href="/index.html" class="item active">首页</a>
                        </div>
                        <div class="col-sm">
                            <a href="/about/about_us.html" class="item">关于维京</a>
                            <div class="child">
                                <a href="/about/about_us.html" class="child-item">公司简介</a>
                                <a href="/about/vk_honor.html" class="child-item">资质荣誉</a>
                                <a href="/about/vk_culture.html" class="child-item">企业文化</a>
                                <a href="/about/vk_strength.html" class="child-item">企业实力</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/service.html" class="item">业务领域</a>
                        </div>
                        <div class="col-sm">
                            <a href="/case/index.html" class="item">项目案例</a>
                            <div class="child">
                                <a href="/case/index.html" class="child-item">写字楼</a>
                                <a href="/case/index.html" class="child-item">商务酒店</a>
                                <a href="/case/index.html" class="child-item">商场Mall</a>
                                <a href="/case/index.html" class="child-item">高档住宅</a>
                                <a href="/case/index.html" class="child-item">知名企业</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/news/index.html" class="item">新闻中心</a>
                            <div class="child">
                                <a href="/news/index.html" class="child-item">行业新闻</a>
                                <a href="/news/index.html" class="child-item">行业动态</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/job.html" class="item">人才招聘</a>
                        </div>
                        <div class="col-sm">
                            <a href="/contact.html" class="item">联系我们</a>
                        </div>
                        <div class="col-sm item">
                            <img src='/static/images/gq.png'>
                            <span>简体中文</span>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="Crumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">关于维京</li>
                    </ol>
                </nav>
            </div>
        </div>
    
        <div class="Banner">
            <div class="container">
                <div class="banner">
                    <img src="/static/images/about_us.jpg">
                    <div class="tit">
                        <p class="p1">公司简介</p>
                        <p class="p2">ABOUT US</p>
                        <div class="mg"></div>
                    </div>
                </div>
                <div class="des">
                    <h4>
                        以人为 本，诚实经营
                        <div class="mg"></div>
                    </h4>
                    <p class="p1">
                        维京电梯(天津)有限公司成立于2018年,注册资金1亿元,电梯维修A级行政许可,电梯安装B级行政许可。公司现有工程高级技术人员12人,专业技术员工40余人,其他专业技术人员8人。
                    </p>
                    <p class="p2">
                        维京电梯凭借过硬的技术实力和良好信誉得到了众多客户的认 可和赞誉，公司团队日常维保电梯1000余台。
                    </p>
                    <p class="p3">
                        维京电梯致力于为各行业提供优质的电梯销售、安装及售后保障方案。自成立之日便 实行规范化 、程序化 、制度化的管理，悉心体察市场及用户的需求，秉承“以人为
                        本，诚实经营”的服务理念，承诺做到为用户着想，对用户负责，让用户满意！
                    </p>
                </div>
    
            </div>
        </div>
    
        <div class="Condition">
            <div class="container">
                <div class="clearfix content">
                    <div class="ft">
                        <img src="/static/images/ab_qygk.jpg" />
                    </div>
                    <div class="ft des">
                        <h4>
                            企业概况
                            <div class="mg"></div>
                        </h4>
                        <p>
                            公司设立了完善的管理机构，拥有办公室、财务部、质检部、工程部、维保部、采购部和施工班组等部门，每个部门和班组都任命了责任负责人，并规定了其权限与相关部门的关系。
                        </p>
                        <p>
                            经过长期的体系运行，逐步完善管理机制，企业的发展已步入良性循环的轨道，现已成为具有相当经济和技术实力，并在社会上享有良好信誉的电梯服务商。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="Achieved">
            <div class="container">
                <div class="clearfix content">
                    <div class="ft des">
                        <h4>
                            发展成就
                            <div class="mg"></div>
                        </h4>
                        <p>
                            维京电梯凭借过硬的技术实力和良好信誉得到了众多客户的认可和赞誉,公司团队日常维保电梯1000余台，服务项目涉及甲级写字楼,高档酒店,综合性商场Mall,住宅公寓,知名企业等，企业的发展已逐步步入良性循环的轨道。经过艰苦创业，现已成为具有相当经济和技术实力，并在社会上享有良好信誉的企业。
                        </p>
                        <p>
                            目前与国内外各知名度较高的电梯制造商及供应商建立了良好的业务关系，而且还取得了世界驰名品牌奥的斯电梯等厂家产品的代销、安装、维修授权。可为客户提供各种不同类型、不同品牌、不同档次的专业电梯安装、维修和保养服务。
                        </p>
                    </div>
                    <div class="ft">
                        <img src="/static/images/ab_ach.jpg" />
                    </div>
                </div>
            </div>
        </div>
    
        <div class="Footer">
        </div>
    </div>
</body>
</html>