<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于维京——资质荣誉</title>
</head>

<body>
    <div class="root">
        <div class="Header">
            <div class="pc-header">
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/logo.jpg">
                    </div>
                    <div class="navBar row">
                        <div class="col-lg">
                            <a href="/index.html" class="item active">首页</a>
                        </div>
                        <div class="col-lg ch">
                            <a href="/about/about_us.html" class="item">关于维京</a>
                            <div class="child">
                                <a href="/about/about_us.html" class="child-item">公司简介</a>
                                <a href="/about/vk_honor.html" class="child-item">资质荣誉</a>
                                <a href="/about/vk_culture.html" class="child-item">企业文化</a>
                                <a href="/about/vk_strength.html" class="child-item">企业实力</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg">
                            <a href="/service.html" class="item">业务领域</a>
                        </div>
                        <div class="col-lg ch">
                            <a href="/case/index.html" class="item">项目案例</a>
                            <div class="child">
                                <a href="/case/index.html" class="child-item">写字楼</a>
                                <a href="/case/index.html" class="child-item">商务酒店</a>
                                <a href="/case/index.html" class="child-item">商场Mall</a>
                                <a href="/case/index.html" class="child-item">高档住宅</a>
                                <a href="/case/index.html" class="child-item">知名企业</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg ch">
                            <a href="/news/index.html" class="item">新闻中心</a>
                            <div class="child">
                                <a href="/news/index.html" class="child-item">行业新闻</a>
                                <a href="/news/index.html" class="child-item">行业动态</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg">
                            <a href="/job.html" class="item">人才招聘</a>
                        </div>
                        <div class="col-lg">
                            <a href="/contact.html" class="item">联系我们</a>
                        </div>
                        <div class="col-lg item last">
                            <img src='/static/images/gq.png'>
                            <span>简体中文</span>
                        </div>
                    </div>
                    <div id="menu_toggle" class="menuBtn">
                        <button></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="Crumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">资质荣誉</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="Banner">
            <div class="container">
                <div class="banner">
                    <img src="/static/images/vk_honor.jpg">
                    <div class="tit">
                        <div class="conent">
                            <p class="p1">资质荣誉</p>
                            <p class="p2">HONOR</p>
                            <div class="mg"></div>
                        </div>
                    </div>
                </div>
                <div class="des">
                    <h4>
                        卓越造就品质 安全成就未来
                        <div class="mg"></div>
                    </h4>
                    <p class="p1">
                        维京电梯现拥有国家级高新技术认证及多项社会荣誉证书
                    </p>
                    <p class="p2">
                        拥有业界领先的质量、环境、安全管理体系
                    </p>

                </div>

            </div>
        </div>
        <div class="Clientele">
            <div class="container">
                <div class="content clearfix">
                    <div class="ft">
                        <img src="/static/images/zz1.jpg">
                    </div>
                    <div class="ft">
                        <img src="/static/images/zz2.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="Footer">
        </div>
    </div>
</body>

</html>