<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于维京——企业实力</title>
</head>

<body>
    <div id="root">
        <div class="Header">
            <div class="pc-header">
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/logo.jpg">
                    </div>
                    <div class="navBar row">
                        <div class="col-lg">
                            <a href="/index.html" class="item active">首页</a>
                        </div>
                        <div class="col-lg ch">
                            <a href="/about/about_us.html" class="item">关于维京</a>
                            <div class="child">
                                <a href="/about/about_us.html" class="child-item">公司简介</a>
                                <a href="/about/vk_honor.html" class="child-item">资质荣誉</a>
                                <a href="/about/vk_culture.html" class="child-item">企业文化</a>
                                <a href="/about/vk_strength.html" class="child-item">企业实力</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg">
                            <a href="/service.html" class="item">业务领域</a>
                        </div>
                        <div class="col-lg ch">
                            <a href="/case/index.html" class="item">项目案例</a>
                            <div class="child">
                                <a href="/case/index.html" class="child-item">写字楼</a>
                                <a href="/case/index.html" class="child-item">商务酒店</a>
                                <a href="/case/index.html" class="child-item">商场Mall</a>
                                <a href="/case/index.html" class="child-item">高档住宅</a>
                                <a href="/case/index.html" class="child-item">知名企业</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg ch">
                            <a href="/news/index.html" class="item">新闻中心</a>
                            <div class="child">
                                <a href="/news/index.html" class="child-item">行业新闻</a>
                                <a href="/news/index.html" class="child-item">行业动态</a>
                            </div>
                            <div class="button"></div>
                        </div>
                        <div class="col-lg">
                            <a href="/job.html" class="item">人才招聘</a>
                        </div>
                        <div class="col-lg">
                            <a href="/contact.html" class="item">联系我们</a>
                        </div>
                        <div class="col-lg item last">
                            <img src='/static/images/gq.png'>
                            <span>简体中文</span>
                        </div>
                    </div>
                    <div id="menu_toggle" class="menuBtn">
                        <button></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="Crumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">企业实力</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="Banner">
            <div class="container">
                <div class="banner">
                    <img src="/static/images/vk_sten.jpg">
                    <div class="tit">
                        <div class="conent">
                            <p class="p1">企业实力</p>
                            <p class="p2">STRENGTH</p>
                            <div class="mg"></div>
                        </div>
                    </div>
                </div>
                <div class="des">
                    <h4>
                        经济技术实力兼备的综合性企业
                        <div class="mg"></div>
                    </h4>
                    <p class="p1">
                        维京电梯实力雄厚，注册资金1亿元,电梯维修A级行政许可,电梯安装B级行政许可。公司现有工程高级技术人员12人,专业技术员工40余人,其他专业技术人员8人。
                    </p>
                    <p class="p2">
                        维京电梯凭借过硬的技术实力和良好信誉得到了众多客户的认可和赞誉,公司团队日常维保电梯1000余台。服务项目涉及甲级写字楼,高档酒店,综合性商场Mall,住宅公寓,知名企业等。
                    </p>
                </div>
            </div>
        </div>
        <div class="Condition">
            <div class="container">
                <div class="clearfix content">
                    <div class="ft">
                        <img src="/static/images/vk_stren2.jpg" />
                    </div>
                    <div class="ft des">
                        <h4>
                            奥的斯电梯（中国）有限公司授权经销商
                            <div class="mg"></div>
                        </h4>
                        <p>
                            维京电梯作为电梯行业的综合性服务商，目前与国内外知名电梯制造商及供应商建立了良好的合作关系，凭借自身实力获得世界知名电梯品牌奥的斯等厂家产品的代销、安装、维修授权。可为客户提供不同档次的专业电梯销售、安装、维修和保养服务。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Coop">
            <div class="container">
                <h4>
                    合作品牌
                    <div class="mg"></div>
                </h4>
                <div class="img">
                    <img src="/static/images/brand.jpg" />
                </div>
            </div>
        </div>
        <div class="Footer">
        </div>
    </div>
</body>

</html>