<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情</title>
</head>

<body>
    <div id="root">
        <div class="Header">
            <div class="pc-header">
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/logo.jpg">
                    </div>
                    <div class="navBar row">
                        <div class="col-sm">
                            <a href="/index.html" class="item active">首页</a>
                        </div>
                        <div class="col-sm">
                            <a href="/about/about_us.html" class="item">关于维京</a>
                            <div class="child">
                                <a href="/about/about_us.html" class="child-item">公司简介</a>
                                <a href="/about/vk_honor.html" class="child-item">资质荣誉</a>
                                <a href="/about/vk_culture.html" class="child-item">企业文化</a>
                                <a href="/about/vk_strength.html" class="child-item">企业实力</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/service.html" class="item">业务领域</a>
                        </div>
                        <div class="col-sm">
                            <a href="/case/index.html" class="item">项目案例</a>
                            <div class="child">
                                <a href="/case/index.html" class="child-item">写字楼</a>
                                <a href="/case/index.html" class="child-item">商务酒店</a>
                                <a href="/case/index.html" class="child-item">商场Mall</a>
                                <a href="/case/index.html" class="child-item">高档住宅</a>
                                <a href="/case/index.html" class="child-item">知名企业</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/news/index.html" class="item">新闻中心</a>
                            <div class="child">
                                <a href="/news/index.html" class="child-item">行业新闻</a>
                                <a href="/news/index.html" class="child-item">行业动态</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/job.html" class="item">人才招聘</a>
                        </div>
                        <div class="col-sm">
                            <a href="/contact.html" class="item">联系我们</a>
                        </div>
                        <div class="col-sm item">
                            <img src='/static/images/gq.png'>
                            <span>简体中文</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="Crumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                        <li class="breadcrumb-item"><a href="/case/index.html">项目案例</a></li>
                        <li class="breadcrumb-item" aria-current="page">详情</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="Content">
            <div class="container">
                <h4>
                    浙江利铭科技
                    <div class="mg"></div>
                </h4>
                <!-- <div class="des">
                    <span>2019年7月1日</span>
                    <span class="s">|</span>
                    <span>分类：</span>
                    <a href="#">新闻资讯</a>
                </div> -->
                <div class="art">
                    <p>
                        <img src="/static/images/case/1.jpg" />
                    </p>
                </div>
            </div>
        </div>

        <div class="Footer">
        </div>
    </div>
</body>

</html>