<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目案例</title>
</head>

<body>
    <div id="root">
        <div class="Header">
            <div class="pc-header">
                <div class="container">
                    <div class="logo">
                        <img src="/static/images/logo.jpg">
                    </div>
                    <div class="navBar row">
                        <div class="col-sm">
                            <a href="/index.html" class="item active">首页</a>
                        </div>
                        <div class="col-sm">
                            <a href="/about/about_us.html" class="item">关于维京</a>
                            <div class="child">
                                <a href="/about/about_us.html" class="child-item">公司简介</a>
                                <a href="/about/vk_honor.html" class="child-item">资质荣誉</a>
                                <a href="/about/vk_culture.html" class="child-item">企业文化</a>
                                <a href="/about/vk_strength.html" class="child-item">企业实力</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/service.html" class="item">业务领域</a>
                        </div>
                        <div class="col-sm">
                            <a href="/case/index.html" class="item">项目案例</a>
                            <div class="child">
                                <a href="/case/index.html" class="child-item">写字楼</a>
                                <a href="/case/index.html" class="child-item">商务酒店</a>
                                <a href="/case/index.html" class="child-item">商场Mall</a>
                                <a href="/case/index.html" class="child-item">高档住宅</a>
                                <a href="/case/index.html" class="child-item">知名企业</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/news/index.html" class="item">新闻中心</a>
                            <div class="child">
                                <a href="/news/index.html" class="child-item">行业新闻</a>
                                <a href="/news/index.html" class="child-item">行业动态</a>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="/job.html" class="item">人才招聘</a>
                        </div>
                        <div class="col-sm">
                            <a href="/contact.html" class="item">联系我们</a>
                        </div>
                        <div class="col-sm item">
                            <img src='/static/images/gq.png'>
                            <span>简体中文</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="Crumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">项目案例</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="Case">
            <div class="container">
                <div class="row items">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="item">
                            <a href="#" class="img">
                                <img src="/static/images/case/1.jpg">
                            </a>
                            <div class="text">
                                <a href="#" class="qy">写字楼</a>
                                <a href="#" class="bt">天津司法大楼</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="item">
                            <a href="#" class="img">
                                <img src="/static/images/case/10.jpg">
                            </a>
                            <div class="text">
                                <a href="#" class="qy">写字楼</a>
                                <a href="#" class="bt">天津司法大楼</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="item">
                            <a href="#" class="img">
                                <img src="/static/images/case/1.jpg">
                            </a>
                            <div class="text">
                                <a href="#" class="qy">写字楼</a>
                                <a href="#" class="bt">天津司法大楼</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="item">
                            <a href="#" class="img">
                                <img src="/static/images/case/1.jpg">
                            </a>
                            <div class="text">
                                <a href="#" class="qy">写字楼</a>
                                <a href="#" class="bt">天津司法大楼</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="item">
                            <a href="#" class="img">
                                <img src="/static/images/case/1.jpg">
                            </a>
                            <div class="text">
                                <a href="#" class="qy">写字楼</a>
                                <a href="#" class="bt">天津司法大楼</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="item">
                            <a href="#" class="img">
                                <img src="/static/images/case/1.jpg">
                            </a>
                            <div class="text">
                                <a href="#" class="qy">写字楼</a>
                                <a href="#" class="bt">天津司法大楼</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="TrunPage">
            <div class="container">
                <hr />
                <nav aria-label="Page navigation">
                    <div class="pagination">
                        <a class="page-link page-item" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a class="page-item page-link" href="#">1</a>
                        <a class="page-item page-link" href="#">2</a>
                        <a class="page-item page-link active" href="#">3</a>
                        <a class="page-item page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <div class="Footer">
        </div>
    </div>
</body>

</html>