html,body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,form,input,textarea,p,div{
    margin:0;
    padding: 0;
}

html{
    font-size: 16px;
}

ol,ul {
    list-style:none;
}
body{
    font-family: 'Montserrat-Regular', 'Microsoft YaHei', 'Helvetica Neue', Tahoma, Arial, 微软雅黑;
}

.container{
    overflow: hidden;
}

$blue:#0e9ef9;
$white:#fff;
$f54:40/16+rem;
$f38:38/16+rem;
$f28:28/16+rem;
$f12:12/16+rem;
$f14:14/16+rem;

@mixin a-btn ($padding,$color,$bgcolor,$bc,$br){
    display: inline-block;
    padding: $padding;
    color:$color;
    background-color: $bgcolor;
    border-style: solid;
    border-color: $bc;
    border-width: 1px;
    border-radius: $br;
}

@mixin prefix($attr,$value){
    #{$attr}:$value;
    -webkit-#{$attr}:$value;
    -moz-#{$attr}:$value;
    -ms-#{$attr}:$value;
}